body {
	font-family     : system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	height          : 95vh;
	display         : grid;
	justify-content : center;
	background-color: #222;
	color           : #ddd;
}

body * {
	font: inherit;
}

.unclickable {
	pointer-events: none;
}

.controls {
	display: grid;

	/* display in a row */

	/* grid-template-columns: 1fr 1fr 1fr 1fr; */

	/* gap: 2em; */
}

.controls > button {
	width           : 30%;
	border          : none;
	background-color: #444;
	color           : #ddd;
	cursor          : pointer;
	align-self      : center;
	justify-self    : center;
}

.controls > button.selected,
button.highlight {
	background-color: #ddd;
	color           : #444;
}

.controls > button.highlight {
	font-size: 2em;
	padding  : 0.5em 0;
}

.board {
	display   : grid;
	grid      : 100px 100px 100px / 100px 100px 100px;
	height    : fit-content;
	width     : fit-content;
	gap       : 0;
	transition: all 0.5s;
}

.win {
	gap       : 1em;
	transition: all 0.5s;
}

.popup {
	position: absolute;

	/* Center */
	left     : 50%;
	top      : 90%;
	transform: translate( -50%, -50% );

	/* Position */
	width          : fit-content;
	height         : fit-content;
	padding        : 0.5em;
	text-align     : center;
	justify-content: center;

	/* Attributes */
	opacity         : 0;
	background-color: #ddd;
	transition      : opacity 0.2s ease-in-out;
	transition      : font-size 0.1s ease-out;
	pointer-events  : none;
	color           : black;
	box-shadow      : 0 0 0.5em #000;
}

.shown {
	opacity  : 1;
	font-size: 2em;
}

.board > div {
	/* Position */
	text-align    : center;
	vertical-align: middle;

	/* Attributes */
	font-family     : Arial, Helvetica, sans-serif;
	background-color: #444;
	border          : 1px solid #ddd;
	color           : #fff;
	font-size       : 100px;
	font-weight     : bold;
	line-height     : 100px;
	cursor          : pointer;

	/* border-radius: 0.1em; */
}

.board > div.cross {
	background-color: rgb( 20 36 18 );
	transition      : background-color 0.1s ease-out;
}

.board > div.cross.winner {
	background-color: rgb( 74 136 66 );
	transition      : background-color 0.1s ease-out;
	color           : white;
}

.board > div.nought {
	background-color: rgb( 15 10 43 );
	transition      : background-color 0.1s ease-out;
}

.board > div.nought.winner {
	background-color: rgb( 66 67 136 );
	transition      : background-color 0.1s ease-out;
	color           : white;
}
